body{
    margin: 0;
    direction: rtl;
    background-color: rgb(209,209,215);
}

.header{
    height: 110px;
    width: 100%;
    background-color: black;
}

.header .logo  {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 62.5px;
}

.nav{
    /*position: fixed;*/
    height: 60px;
    width: 100%;
    background-color: rgba(43,43,44,0.9);
}

.nav ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
}

.nav ul li{
    display: inline-block;
    padding-top: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

.nav ul li a span{
    padding-right: 30px;
}

#news_logo{
    height: 30px;
    background: url("../Zoomg/news.png") no-repeat;
}
#news_nav{
    height: 30px;
}


.content{
    display: block;
    background-color: white;

    width: 80%;
    margin: 0 10%;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;

}

.text{
    background-color: coral;
    float: right;
    width: 100%;
    margin-right:-250px ;
}


.aside{
    background-color: aqua;
    float: left;
    width: 250px;

}

.text img {
    max-width: 100%;
}



.billboard{
    background-image: url("../Zoomg/The_Good_Dinosaur_Promo_Art.jpg");
    background-size: cover;
    background-position: 50% 20%;
    height: 900px;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.movie_name{
    color: white;
}
.movie_name h1{
    font-size: 70px;
    text-align: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.container{
    text-align: center;
}

#poster{
    float: left;
}

#quote{
    float: left;
    color:rgb(255,38,84);
    font-size: 21px;
    width:225px;
    height: 185px;
}

#yaroo{
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(240, 255, 255);
}

.author_name{
    color: white;
}

