@font-face {
    font-family: 'Yekan';
    src:  url('../fonts/Yekan.eot?#') format('eot'),
    url('../fonts/Yekan.woff') format('woff'),
    url('../fonts/Yekan.ttf') format('truetype');
}


@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/IRANSans-web.eot');
    src: url('../fonts/IRANSans-web.eot?#iefix') format('eot'),  /* IE6�8 */
    url('../fonts/IRANSans-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/IRANSans-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSans-web.ttf') format('ttf');
    font-weight: normal;
}

* {
    font-family: Yekan;
}

body{
    direction: rtl;
    margin: 0;
}
.container{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}
.right-bar{

    width: 248px;
    /*background-color: greenyellow;*/
}
.left-bar{
    min-width: 298px;
    /*background-color: lightpink;*/
}
.content{
padding: 5px 5px;
    margin: 5px 5px;
}
.suggest{
    display: flex;
    padding: 30px 30px 30px 30px;
    justify-content: space-around;
    flex-direction: row;
}
.suggest-col{
    max-width: 214px;
}
.suggest-category a{
    text-decoration: none;
    color: darkgray;
}
.suggest-title a{
    text-decoration: none;
    color: black;
}
.article{
    display: flex;
}
.article-img{
    max-width: 200px;
    padding: 5px 5px 5px 5px;
}
.article-title a{
    text-decoration: none;
    color: black;
}
.article-title a :hover{
color:red;
}
.article-self{
    padding: 5px 5px 5px 5px;
}
.article-info{
    color: darkgray;
}
.most-visited{
    background-color: gainsboro;
}
.most-visited-article{
    background-color: white;
}
.most-visited-article-category a{
    color: darkgray;
    text-decoration: none;
}
.most-visited-article-category a :hover{
    color: red;
}
.most-visited-article-title a{
    color: black;
    text-decoration: none;
}
.most-visited-article-title a:hover{
    color: red;
}
.navbar{
    display: flex;
    width: 100%;
    height: 80px;
}
.navbar-right{
    z-index: 1;
    background-color: rgb(153,10,28);
    width: 268px;
    text-align: center;
    width: 268px;
}
.navbar-left{
    background-color: rgb(153,10,28);
    text-align: center;
    z-index: 4;
    width: 80px;
}
.navbar-left a{
    text-decoration: none;
    color: white;
}
.navbar-center{
    width: 100%;
}

.navbar-center-top{
    width: 100%;
    background-color: #1b1b1b;
    height: 30px;
}

.navbar-center-top ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
}

.navbar-center-top ul li{
    display: inline-block;
}

.navbar-center-top ul li a {
    text-decoration: none;
    color: aliceblue;
}

.navbar-center-top ul li a span{
    padding-right: 30px;
}
.navbar-center-down{
    background-color: black;
    width: 100%;
    height: 50px;
}

.navbar-center-down ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
}

.navbar-center-down ul li{
    display: inline-block;
}

.navbar-center-down ul li a {
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    display: inline-block;
    padding: 15px 10px;
    height: 100%;
}
.navbar-center-down ul li a:hover {
    background-color: rgb(153,10,28);
}
.navbar-center-top ul li a:hover {
    color: rgb(153,10,28);
}

.navbar-center-down ul li a span{
    vertical-align: middle;
    display: block;
}
.banners{

}
.banner-lg{
height: 300px;
}
.banner-sm{
height: 150px;
}
.banner-category{
color: rgb(233,154,53);
}
.banner-title{
color: white;
}
.banner-lg img{
    z-index: -1;
}
.banner-sm img{
    z-index: -1;
}
.banner-lg a{
    height:300px;
    width:315px;
}
.banner-sm a{
    height:150px;
    width:315px;
}
.instruction{
    display: flex;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid;
    border-bottom-color: lightgrey;
}
.instruction-img{
    max-width: 80px;
}
.instruction-category a{
    text-decoration: none;
    color: lightgrey;
}
.instruction-category a:hover{
    color: red;
}
.instruction-title a{
    text-decoration: none;
    color: black;
}
.instruction-title a:hover{
    color: red;
}
.instruction{
    background-color: white;
}
.copyright{
    height: 42px;
    background-color: black;
}
.copyright-right{
    color: white;
}
.title{
    color: black;
    background-color: rgb(245,245,245);
    border: 1px solid ;
    border-color: rgb(245,245,245);
    margin: 5px 5px;
    padding-bottom: 0px;
    height: 56px;
}
.suggestion{
    border: 1px solid ;
    border-color: darkgray;
    padding: 0 ;
}
.new-articles{
    border: 1px solid ;
    border-color: darkgray;
    padding: 0 ;
}
.instruction-info{
    margin-right: 5px;
    padding:5px 5px 5px 5px;
}
.footer{
    background-color: rgb(39,39,39);
}
.container{
    background-color: rgb(240,240,240);
}