body{
    direction: rtl;
    margin: 0;
}
.container{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}
.right-bar{

    width: 248px;
    background-color: greenyellow;
}
.left-bar{

    width: 298px;
    background-color: lightpink;
}
.content{

}
.suggest{
    display: flex;
    padding: 30px 30px 30px 30px;
    justify-content: space-around;
    border: 2px solid ;
    border-color: darkgray;
    flex-direction: row;
}
.suggest-col{
    max-width: 214px;
}
.suggest-category a{
    text-decoration: none;
    color: darkgray;
}
.suggest-title a{
    text-decoration: none;
    color: black;
}
.article{
    display: flex;
}
.article-img{
    max-width: 200px;
    padding: 5px 5px 5px 5px;
}
.article-title a{
    text-decoration: none;
    color: black;
}
.article-title a :hover{
color:red;
}
.article-self{
    padding: 5px 5px 5px 5px;
}
.article-info{
    color: darkgray;
}
.most-visited{
    background-color: gainsboro;
}
.most-visited-article{
    background-color: white;
}
.most-visited-article-category a{
    color: darkgray;
    text-decoration: none;
}
.most-visited-article-category a :hover{
    color: red;
}
.most-visited-article-title a{
    color: black;
    text-decoration: none;
}
.most-visited-article-title a:hover{
    color: red;
}
.navbar{
    display: flex;
    width: 100%;
    height: 80px;
}
.navbar-right{
    z-index: 1;
    background-color: rgb(153,10,28);
    width: 268px;
    text-align: center;
    width: 268px;
}
.navbar-left{
    background-color: rgb(153,10,28);
    text-align: center;
    z-index: 1;
    width: 80px;
}
.navbar-left a{
    text-decoration: none;
    color: white;
}
.navbar-center{
    width: 100%;
}

.navbar-center-top{
    width: 100%;
    background-color: #1b1b1b;
    height: 30px;
}

.navbar-center-top ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
}

.navbar-center-top ul li{
    display: inline-block;
}

.navbar-center-top ul li a {
    text-decoration: none;
    color: aliceblue;
}

.navbar-center-top ul li a span{
    padding-right: 30px;
}
.navbar-center-down{
    background-color: black;
    width: 100%;
    height: 50px;
}

.navbar-center-down ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
}

.navbar-center-down ul li{
    display: inline-block;
    padding-top: 15px;
}

.navbar-center-down ul li a {
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    padding-right: 30px;
}
.navbar-center-down ul li a:hover {
    background-color: rgb(153,10,28);
}
.navbar-center-top ul li a:hover {
    color: rgb(153,10,28);
}

/*.navbar-center-down ul li a span{*/
    /*padding-right: 30px;*/
/*}*/
